* {
    margin: 0;
}

html{
    width:100%;   /*est-ce bien nécessaire? */
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;   /*Est-ce que c'est juste ça la largeur du block dont ils parlent???*/
}

.menu a {
    text-decoration: none;
    color: black;
    padding-right: 55px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #ecebf0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logovg {
    height: 110px;
    margin-left: 100px;
}

.menu div :hover {
    color: #43960f;
}

header {
    background-color: #ecebf0;
    display: inline-block;
    text-decoration: none;
    padding-top: 50px;
}

header div {
    
    margin-bottom: px;
}



.titre_noir {
    font-size: 40px;
    font-weight: 400;
}

.titre_vert {
    color: #43960f;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 50px;
}

.accueil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 120px;
    align-items: center;
}

.accueil img {
    height: 410px;
}

.accueil div {
    flex-direction: column;
    margin-left: 60px;
}

.accueil p {
    font-size: 1.2em;
    font-weight: 500;
}




#img_a_propos {
    height: 470px;
}

.a-propos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin: 80px 30px 120px 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-bottom: 50px;
    padding-left: 60px;
}

.a-propos a {
    background: black;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#a_propos_titre {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 2.2em;
    font-weight: 900;
    color: #fff;
    background-color: #43960f;
    padding: 7px 21px 7px 21px;
}

.a-propos p {
    margin-bottom: 50px;
}



#fresh_vegetable {
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 50px;
}

.fresh-vegetable span {
    color: #43960f;
}

.fresh-vegetable p{
    font-size: 1.15em;
    font-weight: 200;
}

.fresh-vegetable h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 500;
}

.conteneur_fresh {
    display: flex;
    margin: 0px 80px 100px 80px;
    height: 700px;/*mes elements flex ne dépassent pas, mais pas sûre que ce soit la mailleure méthode */
    flex-direction: row;
}

.textfv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: absolute;
    right: 0px;
    top: 0px;*/
}

.panier {
    display: flex;
    /* position: absolute;   
    right: 0px;
    top: 0px;
    z-index: 1;    pourquoi mes éléments absolu se réfèrent à ma page et non à mon conteneur? */
}

.hiver {
    height: 410px;
    display: flex;
    /* position: absolute; 
    left: 0px;
    bottom: 0px;
    z-index: 2;*/
}


/* Je n'arrive pas à fixer le conteneur portrait au conteneur vert, et je ne suis meme pas sure que 
tout cela soit fixé au fond d'écran */
.temoignage {
    display: flex;
    margin: 0px px 100px 80px;
    
}

.temoignage h1 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-weight: bold;
    font-size: 2.8em;
}

#chou {
    background-image: url("test2.png");
    width: auto;
    height: 977px;
}

.conteneur_portrait {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    padding: 15px;
    align-items: center;
}

#guillemets {
    margin-top: 10px;
}

.avis {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.1em;
}

.conteneur_vert {
    display: flex;
    display: inline-block;
    flex-direction: row;
    background-color: rgba(67, 150, 15, 0.8);
}




.contact {

    margin: 0px px 100px 80px;
    height: 700px;
}

#banner {
    background-image: url("banner2.png");
    background-size: cover;
}

#contact {
    text-align: center;
    font-size: 2.8em;
}

#contact span {
    color: #43960f;
}

.contact div {   /* à revoir */
    background-color: #fff;
    margin: 50px 100px 50px 100px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0px 30px 5px;
}

.form_style input,
textarea {
    /* leur appliquer une propriété pour occuper tout l'espace disponible horizontalement */
    padding: 5px;
    border: 0.5px #ecebf0 solid;
    font-family: Poppins;
    /* margin: 0; j'essaie de centrer verticalement */
}


.envoyer {
    /* détacher du formulaire pour aligner à droite, ajuster padding et margin*/
    color: #fff;
    border: none;
    background: #43960f;
    padding: 10px 25px 10px 25px;
}





footer {
    color: #fff;
    background-color: #3b3b3b;
    font-weight: 300;
}

footer a {
    color: #fff;
    text-decoration: none;
}



.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr;
    font-size: 1.2em;
}

.footer_grid div {
    margin-left: 50px;
    margin-right: 50px;
}

.g1 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 50px;
}

.g4 {
    grid-column: 1/2;
    grid-row: 2/3;

}

.g5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.g6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.g7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.g8 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.g9 {
    grid-column: 3/4;
    grid-row: 3/4;
    /* déplacer dans la cellule */
    /* justify-content: space-evenly; ?*/
}

.inscription {
    /* comment faire pour que le bouton s'adapte au texte et non à la cellule? */
    background: #43960f;
    color: #fff;
    border-radius: 50px;
    padding: 9px 25px;
    border: none;
    font-family: poppins;
    font-size: 1em;
    margin-top: 0;
}

.footer_form{
    margin: 20px 20px 20px 0px;
    padding: 10px;
    font-size: 1em;
    font-family: poppins;
}

.copyright {
    color: #fff;
    background-color: #43960f;
    text-align: center;
    margin-top: 50px;
    padding: 15px 0px 15px 0px;
    margin: 0;
    font-weight: 200;
    font-size: 1.15em;
}